* {
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
}
header h1 {
	font-size: 30px;
	font-weight: 50%;
	color: red;
	margin-top: -10px;
	padding-top: 10px;
	 
}
header nav {
	dispay: flex;
	justify-content : flex-end;
}
header {
	background-color: black;
	min-width: 100%;
	font-family: 'Handlee', cursive;
	position: fixed;
	margin-top: -10px;
	padding: 20px 0px 10px 0px;
	z-index: 10;
}
header a {
	font-weight: 50%;
	font-size: 20px;
	padding: 0 20px;
	display: inline;
	background-color: none;
	color: #FF5050;
	font-weight: 50%;		
}
header a:hover {
	font-weight: 50%;
	font-size: 20px;
	background-color: black;
	border-bottom: 2px #75EE64 solid;
	color: white;
	padding-bottom: 5px;
	text-decoration: none;
}
main {
	padding-top: 200px;
	margin-right: -50px;
	background-color: #6BF5D1;
	height: 600px;
	display: flex;
	justify-content: center;
	background: 
	radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
  background-color: mediumspringgreen;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
}					
main h1 {
	color: #9966FF;
	font-family: 'Cabin Sketch', cursive;
	font-size: 50px;
}
main .line {
	border: 2px black solid;
	margin-left: 38%;
	margin-right: 38%;
	border-radius: 10px;
	opacity: 0.3;
	
}
main h3 {
	color: #F0A370;
}
#top button {
	background-color: red;
	color: white;
	border-radius: 50px;
	border-color: red;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
/*border: none; /* Remove borders */
  /*  outline: none; /* Remove outline */
    /*background-color: none;
    /*color: red; /* Text color */
    /*cursor: pointer; /* Add a mouse pointer on hover */
	/*font-size: 20px;*/
}

#About {
	background: linear-gradient(0deg, #99FFCC, #CC33FF 80%);
	width: 100%;
	height: 1200px;
}
#About h1 {
	color: white;
	border: 15px #99FFCC solid;
	border-radius: 20px;
	width: 350px;
	height: 250px;
	padding-top: 150px;
	margin-top: -80px;
	margin-left: 63.4%;
	font-family: 'Amaranth', sans-serif;
	font-size: 60px;
}
#picture img {
	width: 220px;
	height: 300px;
	display: flex;
	justify-content: flex-end;
	box-shadow: 8px 8px 6px #406640;
}
#introduction {
	font-family: 'Courgette', cursive;
	font-size: 20px;
	color: white;
	padding-top: 50px;
	padding-right: 80px;
	margin-left: 4%;
}
#description {
	margin: 40px;
	display: flex;
	justify-content: center;
}
#description p {
	margin-left: 40px;
}
#education {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

#education .fdu {
	width: 50px;
	height: 50px;
	background-color: white;
	border: 1px black solid;
	border-radius: 50%;
}
#education .cvr {
	width: 50px;
	height: 50px;
	border: 1px black solid;
	border-radius: 50%;
}

#education h2 {
	font-family: 'Merriweather', serif;
	color: #00FF00;
	font-size: 30px;
}

#education p {
	color: #3333FF;
	font-size: 20px;
}
#About #resume {
	margin-top: 3.1%;
	margin-bottom: 3.1%;
	padding: 10px;
	border: 2px #9966FF solid;
	border-radius: 30px;
	background-color: #FFFF99;
	color: #FF00FF;
	font-family: 'Kurale', serif;
	font-size: 20px;
}

#Projects {
	background: linear-gradient(0deg, #99FFCC, #CC33FF 80%);
	min-width: 100%;
}
#Projects h1 {
	color: white;
	border: 15px #B2E6FF solid;
	border-radius: 20px;
	width: 350px;
	height: 250px;
	padding-top: 150px;
	margin-top: -80px;
	margin-left: 6%;
	font-family: 'Amaranth', sans-serif;
	font-size: 60px;
	display: flex;
	justify-content: center;
}
#projects12, #projects34 {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;	
}
#projects12	h3, #projects34 h3{
     color: white;
	 border: 1px #FFCC66 solid;
	 border-radius: 5px;
	 background-color: #FFCC66;
	 margin-top: -3px;
	 margin-left: -18px;
	 margin-right: -18px;
	 display: flex;
	 align-items: center;
	 font-size: 30px;
	 padding-left: 10px;
}

#project1, #project2, #project3, #project4 {
	 border: 2px #FFCCFF solid;
	 margin-top: 20px;
	 margin-bottom: 20px;	 
}

#projects12 p, #projects34 p {
	color: white;
	font-size: 20px;
}
#Contact {
	background: linear-gradient(0deg, #CC66FF, #3366FF 70%);
	min-width: 100%;
	height: 100%;
}
#Contact h1 {
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 44%;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 50px;
	color: #FFCC00;
}
form {
	border: 5px white solid;
	width: 350px;
	height: 500px;
	border-radius: 40px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 40%;
	margin-bottom: 30px;
	border: none;
}
#message {
	height: 150px;
	width: 280px;
	border-radius: 10px;
	padding: 12px;
	resize: vertical;
}
:host {
      display: inline-block;
      position: relative;
      width: 900px;
      border: 5px solid;
	  border-radius: 10px;
      padding: 2px;
      -moz-appearance: textarea;
      -webkit-appearance: textarea;
    }

    ::-webkit-scrollbar {
        width: 8px!important
    }

    ::-webkit-scrollbar-thumb {
        background-color: #FF5050;
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb {
        background-color: #FF5050;
		border-radius: 10px;
    }
#name {
	width: 280px;
	border-radius: 10px;
}
#email {
	width: 280px;
	border-radius: 10px;
}
#submit {
	border-radius: 20px;
	font-family: 'Bungee Inline', cursive;
	font-size: 15px;
	color: #BA9CDB;
	background-color: #FFCC66;
	margin-bottom: 20px;	
}
#footer {
	padding-top: 15px;
	background-color: #66FFFF;
	width: 100%;
}
footer nav {
	font-size: 20px;
	display: flex;
	justify-content: flex-end;
	
}
#facebook, #linkedin, #twitter {
	 margin-left: 10px;
     margin-right: 10px;
}

@media only screen and (min-width: 250px) and (max-width: 987px){
	main h1, h3 {
		margin-left: -7.8%;
	}
	main .line {
		border: none;
	}
	#About {
		width: 100%;
		height: 100%;
	}
	
	#About h1 {
		margin-left: 14%;
		width: 71.8%;
		height: 71.8%;
		font-size: 30px;
		border: none;
	}
	#picture img {
		margin-left: -10%;
	}
	#description {
		display: block;
	}
	#introduction {
		font-size: 20px;
	}
	#introduction p {
		min-width: 200px;
		max-width: 600px;
	}
	#education {
		display: block;
	}
	#skills {
		margin-top: 12.5%;
	}
	#About #resume {
		margin-top: 9.37%;
		margin-bottom: 31.25%;
	}
	footer {
		display: block;
	}
	footer nav {
		display: flex;
		justify-content: center;
	}
	#Projects {
		width: 100%;
		height: 100%;
	}
	#Projects h1 {
		margin-left: 14%;
		width: 71.8%;
		height: 71.8%;
		font-size: 30px;
		border: none;
	}
	#projects12, #projects34 {
		display: block;
		margin-left: 0.93%;
		margin-right: 0.93%;
		justify-content: space-around;
	}
	#Contact h1 {
		margin-left: 4.68%;
	}
	form {
		width: 300px;
		height: 500px;
		margin-left: 1%;
		border: none;
	}
	#Contact h3, #name, #email, #message {
		margin-left: -20%;
}
}	
@media only screen and (min-width: 980px) and (max-width: 990px) {
	#projects12, #projects34 {
		display: flex;
		justify-content: space-between;
	}
	#project1, #project3 {
		margin-right: 5px;
	}
}
